img {
  width: 75px;
  height: 75px;
}

.grid {
  width: 900px;
  height: 750px;
  background-color: blanchedalmond;
  margin: 0 auto;
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(8, 85px);
  grid-template-rows: repeat(8, 85px);
  justify-content: center;
  text-align: center;
  line-height: 100px;
}

.white {
  background-color: #b5915f;
  align-items: center;
}
.black {
  background-color: #441a03;
  align-items: center;
}
.blue {
  background-color: blue;
}
